[Desktop Entry]
Name=SparkleOS3
X-KDE-PluginInfo-Name=SparkleOS3
X-KDE-PluginInfo-Author=bl4ckk
X-KDE-PluginInfo-Email=dasheroo33@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
