[Desktop Entry]
Name=SparkleOS
Comment=SparkleOS Plasma Theme

X-KDE-PluginInfo-Author=bl4ckk
X-KDE-PluginInfo-Email=info@francescoguida.net
X-KDE-PluginInfo-Name=SparkleOS
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/bl4ckk
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
